@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Farro:wght@300;400;500&family=Kanit:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;500&family=Farro:wght@300;400;500&family=Kanit:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
    .navbar{
     display: flex;
     background-image: linear-gradient (#ab51a3, #456afc);
     position:sticky;
     height: 80px;
     width: 100%;
     font-family: 'Chakra Petch';
     font-color: #88faff;
     font-size: 16px;
     font-weight: 700;
      margin-bottom: 0;
      top: 0;
      left: 0;
      cursor: pointer;
       z-index: 100;
}
    .navbar ul li{
        display: inline-block;
        text-align: center;
        list-style: none;
        font-family: 'Charka Petch';
        color: white;
        font-size: 16px;
        font-weight: 700;
        position: sticky;
        margin: 10px 20px;
        position: sticky;
}
    .navbar a:hover{
       background: linear-gradient(#00b0ba, #993dfb);
       background-size: 20px;
       padding-left: 8px;
       padding-right: 8px;
       border: none;
       border-radius:25px;
       justify-item: center;
       font-weight: 500;
       color: white;
       box-shadow:  0px 15px 20px #3ce0e9;
       transform:translate(-5px, -5px);
       transition-timing-function: ease in;
}
    #home{
       display: flex;
       flex-direction: column;
       width: 100%;
       height: 840px;
       justify-content: justify-content;
       align-items: left;
       color: white;
}
    #home::before{
    	content:"";
    	position:absolute ;
    	top: 0;
    	right: 0;
    	background: url('cover.jpg') no-repeat center ;
    	height: 880px;
    	width:100%;
    	z-index: -1;
    	justify-content: space-between;

}
    .main{
    	display: flex;
    	flex-direction: column;
    	border: none;
    	Justify-content:space-between;
    	align-text: left;
    	font-family: poppins;
    	position: absolute;
    	top: 33%;
    	left: 10%;
    	max-width: 600px;
}
    .main h1{
        font-family: 'chakra petch';
    	font-size: 55px;
    	font-weight: 700;
    	color:white ;
        padding-top: 5px;
}
    .main h1:hover{
        cursor: pointer;
        color: #3ee1eb;
        transform:translate(-5px, -10px);
        transition-timing-function: ease in;
}
    .main h3{
    	font-size: 26px;
    	font-weight:650;
    	color: white;
    	line-height: 1;
}   
    .main h3:hover{
        cursor: pointer;
        color: #fc68a9; 
        transform: translate(-5px, -10px);

}   .main p{
	    font-size: 16px;
	    font-weight: 500;
	    margin: 20px 0 40px;
	    background: linear-gradient(#dda6f0,#1e3669);
	    border: none;
	    border-radius: 30px;
	    padding: 17px;
	    line-height: 1;
	    color: white;
}
    .main p:hover{
    	cursor: pointer;
    	box-shadow: 0 10px 50px #e0ff37;
        transform: translate(-5px, -10px);
        transition-timing-function: ease in;
}
    .main img{
    	width: 85px;
    	height: 85px;
    	background: linear-gradient(#00b0ba, #993dfb);
    	padding: 10px;
        cursor: pointer;
}  
    .main img:hover{
        box-shadow:  0px 20px 20px #3ce0e9;
        transform: translate(-5px, -10px);
}
    .headings{
    	font-family: 'Poppins', sans-serif;
    	font-size: 50px;
        text-align: left;
    	margin: 40px 0 px;
}
    .btn{
    	padding: 15px ;
    	background: linear-gradient(#00b0ba, #993dfb);
    	align-items: center;
    	width: 20%;
    	margin: 15px;
    	border: none;
    	border-radius: 30px;
    	font-size: 20px;
    	font-weight 500;
    	color: white;
    	outline: none;
    	

}
    .btn:hover {
    	cursor: pointer;
    	background: radial-gradient(#46d3f5,#102547);
    	color: black
    	box-shadow: 0px 10px 60px, #e0ff37;
        transition: .5 ease;
    	font-weight: bold;
        transform:translate(8px, 8px);
}

    #about {
        display: flex;
        justify-content: center;
        item-align:center;
    	flex-direction: column;
    	box-sizing: border-box;
    	background: radial-gradient(#d888ff, #457d9c, #1a0f4b);
    	padding: 18px;
    	height: 700px;
        width:100%;
}
    #about h1{
    	text-align: center;
    	color: white;
    	font-size: 55px;
    	font-weight: 610;
    	font-family: 'chakra petch';
        padding-top: 15px;
        cursor: pointer;
}
    #about h1:hover{
        color:#00f9ff;
        transform:translate(-10px, -10px);
}
    #pic {
    	display: flex;
    	justify-content: space-between;
    	margin-left: 30px;
    	
}
    #pic img{
       width: 470px;
       height: 400px;
       display: flex;
       justify-item: right;
       background: linear-gradient(#dedf33, #00f9ff);
       padding: 10px;
       cursor: pointer;
}  
    #pic img:hover{
       box-shadow:  0px 15px 60px #ffd06a;
       transform: translate(-5px, -10px);
}
    #intro {
       display: flex;
       flex-direction: column;
       justify-content: center;
       text-align: center;
       padding: 35px;
}
    #intro h2{
       background: linear-gradient(#00b0ba, #993dfb);
       justify-content: space-between;
       justify-item: right;
       text-weight: 30px;
       text-align: left;
       padding: 5px;
       font-family:"kanit";
       font-size: 30px;
       border: solid #64ffeb;
       border-radius: 10px;
       color: white;
       margin-bottom: 10px;
       line-height: 1;
       height: 40px;
       width: 60%;
}
    #intro h2:hover{
    	cursor: pointer;
        color: #1f156b;
    	box-shadow: 0 10px 50px #fbff63;
        transform:translate(-10px, -10px);
} 
    #intro p{
       background: linear-gradient(#00b0ba, #993dfb);
       justify-content: right;
       text-align: left;
       padding: 20px;
       font-family: 'poppins', san serif;
       font-size: 20px;
       border: solid #64ffeb;
       border-radius: 10px;
       color: white;
       margin: 20px 0 40px;
       width: 85%;
       line-height: 1.2;
}
    #intro p:hover{
    	cursor: pointer;
        color: #1f156b;
    	box-shadow: 0 10px 50px #fbff63;
        transform:translate(-10px, -10px);

}    	 
    #services{
       background-color: ;
       display: flex;
       flex-direction: column;
       justify-items: center;
       padding: 20px;
       background: radial-gradient(#46d3f5,#102547);
       height: 650px;
       width:100%;

}
    #services h1{	
    	text-align: center;
    	color: white;
    	font-size: 55px;
    	font-weight: 610;
    	font-family: 'chakra petch';
        padding-top: 17px;
        cursor: pointer;
} 
    #services h1:hover{
        color:#00f9ff;
        transform:translate(-10px, -10px);
}   
    #services h2{
    	justify-content: center;
        font-style: 'Poppins', sans-serif;
    	text-align: center;
    	color: black;
    	font-size: 29px;
    	font-weight: 610; 
}  
    #services h2:hover{
        color: #1f156b;   
}
    .row{
       display: flex;
       justify-content: space-around;
       flex-wrap: wrap;
       box-sizing: border-box;
}
    .box{
       display: flex;
       flex-direction: column;
       width: 360px;
       height: 470px;
       border: 1px solid black;
       margin: 5px 0 20px;
       font-size: 15px;
       font-family: 'Poppins', sans-serif;
       align-items: center;
       text-align: justify;	
       cursor: pointer;	
       padding: 10px;
       border-radius: 15px;
       background-image: linear-gradient(#21ebdb, #e849ff, #fff63f) ;
       background-size: 100% 200%;
       line-height: 1.3;
}
    .box:hover{
       background: linear-gradient(#eeaeca, #94bbe9);
       background-position: left bottom;
       color: #4c087e;
       border: black;
       box-shadow: 0 10px 50px #fbff63;         
}
    .box img{
    	width: 78px;
    	height: 78px;
    	background: linear-gradient(#00b0ba, #993dfb);
    	padding: 10px;
}

    #contact{
    	display: flex;
    	flex-direction: column;
    	box-sizing: border-box;
    	background: radial-gradient(#eeaeca, #94bbe9, #8228c8) ;
    	font-family: 'poppins',sans-serif;
    	font-weight: 400;
    	color: black;
    	padding: 38px;
    	height: 650px;
        width:100%;
}
    #contact h1{
    	text-align: left;
    	color: black;
    	font-size: 60px;
    	font-weight: 633;
    	font-family: 'chakra petch';
        padding-top: 10px;
        cursor: pointer;
}
    #contact h1:hover{
        color:#00f9ff;
        transform:translate(-10px, -10px);

}
    #contact p{
    	text-align: left;
    	color: white;
    	font-size: 20px;
    	font-weight: 500;
    	font-family: 'Poppins', sans-serif;
    	background: linear-gradient(#dda6f0,#1e3669);
    	width: 42%;
        padding: 15px;
    	border: none ;
    	border-radius: 15px;
}
    #contact p:hover{
    	cursor: pointer;
    	box-shadow: 0 10px 50px #e0ff37;
        transform:translate(-10px, -10px);

}
    .form{
    	display: flex;
    	flex-direction: column;
    	box-sizing: border-box;
    	align-items: center;
    	margin: 20px 0px;
}
    #form:hover{
    	cursor: pointer;
    	box-shadow: 10px #3d1df1, 10px  #7af11d, 10px #7500f0;
}
    .input{
    	padding: 12px;
    	margin: 15px;
    	border-radius: 40px;
    	width: 30%;
    	border: none;
    	outline: none;
}
    #input:hover{
    	cursor: pointer;
    	box-shadow:  0px 20px 20px #340f7e;

}
    #msg{
    	width: 35%;
    	padding: 10px;
    	margin: 15px;
    	border-radius: 40px;
    	outline: none;
}
    #msg:hover{
    	cursor: pointer;
    	box-shadow:  0px 15px 60px #340f7e;
        transform:translate(-10px, -10px);

}
    #send{
    	background-image: linear-gradient(#21ebdb, #e849ff, #fff63f) ;
    	padding: 25px;
        font-family: 'chakra petch';
    	width: 10%;
    	margin: 15px;
    	border-radius: 40px;
    	border: none;
    	outline: none;
}
    #send:hover{
    	cursor: pointer;
    	box-shadow: 0px 15px 60px #e0ff37;
        transform:translate(-10px, -10px);
}

